html {
  -webkit-text-size-adjust: 100%;
  font-family: 'Lato', sans-serif !important;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}
body{
  font-family: 'Lato', sans-serif !important;
}