html {
  -webkit-text-size-adjust: 100%;
  font-family: "Lato", sans-serif !important;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif !important;
}

.noselect,
button,
div {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

button {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.ant-input-affix-wrapper.ant-input-password {
  padding: 0 11px;
}

.ant-form-item-control-input-content input {
  box-shadow: unset !important;
}

.ant-notification {
  z-index: 9999 !important;
  margin-top: 55px !important;
}

// Theme setting
body {
  &.dark {

    .ant-layout-footer{
      border-top: solid 5px #000;
      background: #0D1421;
      color:#fff;
    }

    // .ant-table-content{
    //   background: #0D1421;
    //   color:#fff;
    // }

    .ant-layout{
      .layout-content{
        background: #0D1421;
        .ant-layout-content{
          background: #0D1421;
          color:#fff;
          .title, .summary{
            color:#fff !important;
          }
        }
      }
    }

    button.ant-btn[disabled]{
      background-color: #161f30;
      border-color: #161f30;
      color:#fff;
      opacity: 0.7;
    }

    .tooltip-custom{
      background: #161f30;
      &::after{
        border-top-color: #161f30;
        border-left-color: #161f30;
      }
    }

    .ant-select-dropdown{
      background: #161f30 !important;
      .ant-select-item-option-active:not(.ant-select-item-option-disabled){
        background: rgba(13, 20, 33, 0.6);
      }
      .ant-select-item.ant-select-item-option.ant-select-item-option-selected{
        background: rgba(13, 20, 33, 0.6);;
      }
      .ant-select-item-option-content{
        .val{
          color:#fff !important;
        }
      }
    }
    
    .ant-select {
      .ant-select-selector {
        background: #161f30;
        border: unset;
        color: #fff;
        box-shadow: unset !important;
      }
      .ant-select-arrow {
        svg {
          fill: #fff;
        }
      }
    }

    .password-input {
      &:not(.fail) {
        border: unset;
      }
      &.fail {
        border-color: #ff4d4f !important;
      }
    }

    .ant-form-item {
      &:not(.ant-form-item-has-error) {
        .ant-form-item-control-input-content {
          input {
            background: #161f30;
            color: #fff;
            border: unset;
          }
        }
      }

      &.ant-form-item-has-error {
        .ant-form-item-control-input-content {
          input {
            background: #161f30;
            color: #fff;
            border-color: #ff4d4f !important;
          }
        }
      }
    }

    .ant-col {
      &.left-side {
        background: #161f30;
      }
      &.right-side {
        background: #0d1421;
      }
      .ant-typography {
        &:not(.H1) {
          color: #fff !important;
        }
      }
      .group {
        border-bottom-color: rgba(0, 0, 0, 1);
      }

      .account-type-group {
        button {
          background: #161f30;
          // color: #fff;
          border: unset;
        }
      }

      .ant-menu-overflow,
      .group {
        background: #0d1421 !important;
        color: #fff;
        .logo {
          svg {
            #Layer_5 path,
            #Layer_2-2 #Layer_3 path,
            #Layer_2-2 #Layer_4 path {
              fill: #fff;
            }
          }
          .title {
            color: #fff;
          }
        }
      }
      .right-nav {
        &:not(.login, .register) {
          button {
            background: transparent;
            svg path {
              fill: #fff;
            }
          }
        }
        &.login,
        &.register {
          button {
            color: #fff;
          }
        }
      }
    }
  }

  .light {
  }
}
